<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Home</title>
</head>
<body>
    <!-- Footer -->

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if user.custid%}
    {% include "nav.html" %}
       
    {% include "complaint_form.html" %}

    {% else %}
  
        <br>
        {% include "user_register.html" %}
    {% endif %}
   

</body>
</html>