<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="/static/nav.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="/static/user/logo.png" alt="Logo" width="40" height="40" > <!-- Add your logo here -->
          
        </div>
        <div class="user">
            {% if user.custid %}
                <p>Welcome, {{ user.name }}</p>
                <a href="{% url 'logout' %}">Logout</a>
            {% elif user.is_staff or user.is_superuser %}
                <p>Welcome, {{ user.name }}</p>
                <a href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'home1' %}">Home</a></li>
            <li><a href="{%url 'trackid' %}">Track Complaint</a></li>
            <li><a href="{% url 'staff_login' %}">Staff Login</a></li>
        </ul>   
    </nav>
</body>
</html>
