* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, sans-serif;

}

.navbar {
    height: 79px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid #ddd;
    margin-bottom: 15px;
}

.logo {
    display: flex;
    align-items: center;
    color: green;
}

.logo img {
    margin-right: 10px;
    height: 60px;
    width: 220px;
}



.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
}

.nav-links a {
    text-decoration: none;
    color: green;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #006400;
}
