*{
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f4f4f4;
    flex-direction: column;
}
.container {
    background: white;
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px;
}
.container h2 {
    text-align: center;
}
.container input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.container button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.container button:hover {
    background: #218838;

}
.acc{
    text-align: center;
}
.acc p{
    margin-top: 10px;
}